<!doctype html>
<html lang="ru" ng-app>
	<head>
	  <link rel="stylesheet" href="Style/site.css">
	</head>
	<body>
		<div class="wrapper" ng-controller="Sheduler">
		    <div class="header">
		        <h1>{{OwnerName}}</h1>
		    </div>	
		    <div class="content" ng-repeat="group in ViewMode.getGroups">
		        <div class="Group">
		            <div class="header">
		                <h3>{{group}}</h3>
                            </div>	
		            <div class="content">
		                <div class="Task">
		                    <div class="header">
		                    </div>	
		                    <div class="content">
		                    </div>
		                </div>
		            </div>
		            <form ng-submit="addTodo()">
		                <input type="text" ng-model="todoText"  size="30"
		                       placeholder="add new">
		                <input class="" type="submit" value="add">
		            </form>
		        </div>
		    </div>
        </div>	
	    <script src="scripts/lib/angular/angular.min.js"></script>
	  <script data-main="js/main" src="scripts/main.js"></script>
	</body>
</html>