body {
    margin: 0px;
}

h1 {
    margin: 0px;
}

.header {
    background-color: rgba(146, 143, 240, 0.2);
    min-height: 30px;
    width: 100%;
}

.wrapper > .header {
    position: fixed;
    top: 0;
}

.wrapper > .content {
    position: relative;
    top: 50px;
}

.Group {
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 2px;
    min-height: 400px;
    width: 220px;
    position: relative;
}

    .Group > .content {
        height: 100%;
    }

.Task {
    border: 1px solid rgba(86,61,124,.2);
    min-height: 60px;
    width: 200px;
    position: relative;
}

    .Task > .content {
        height: 100%;
    }

.Group .Task {
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.right {
    position: absolute;
    right: 0px;
}